
form{
  width: 50%;
  margin: 0 auto;
}
h1{
    margin-top: 40%;
}
body{
  color: aliceblue;
  background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #47c0d0, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
p{
    background-color: black;
    border: 2px solid white;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10%;
    border-radius: 10px;
    margin-bottom: 15%;
    
}
